*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 2, 22);
    height: 100vh;
    overflow: hidden;
    

}

h1{
    color: #fff;
    font-size: 50px;
    /*text-transform: uppercase;*/
    text-align: center;
    font-weight: 400;
    padding-top: 40vh;
    /*text-decoration: underline;*/
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    z-index: 9999;
}

h2{
    color: #fff;
    font-size: 25px;
    text-transform: unset;
    font-weight: 300;
    text-align: center;
    padding-top: 2vh;
    /*text-decoration: underline;*/
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    z-index: 9999;
}

h3{
    color: #fff;
    font-size: 20px;
    text-transform: unset;
    font-weight: 300;
    text-align: center;
    padding-top: 2vh;
    /*text-decoration: underline;*/
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    z-index: 9999;
}








/*
p{
    color: #fff;
    font-size: 10px;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    font-weight: 300;
}

#links{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  
}

#contact {
   
    display: flex;
    flex-direction: row;
  
    
  }
*/
#bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}