*{
    box-sizing: border-box;
    padding: 0;

}

html{
    overflow-y: hidden;
    max-width: 100%;
     min-width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 2, 22);
    height: 100vh;
    position: relative;
       

}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 700px;;
}

h1{
    color: #fff;
    font-size: 50px;
    /*text-transform: uppercase;*/
    text-align: center;
    font-weight: 400;
    padding-top: 40vh;
    /*text-decoration: underline;*/
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    z-index: 9999;
}

h2{
    color: #fff;
    font-size: 25px;
    text-transform: unset;
    font-weight: 300;
    text-align: center;
    
    /*text-decoration: underline;*/
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    z-index: 9999;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/*h3{
    display: inline;
    text-align: right;
    width: 250px;
    padding: 20px;
    color: #fff;
    font-size: 15px;
    text-transform: unset;
    font-weight: 300;
    padding-top: 2vh;
    /*text-decoration: underline;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    z-index: 9999;
}

*/

.contentContainer{
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
    
   
      
    
}

.linkContainer {
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
  }

  .linkContainer i {
    margin-right: 1rem;
    color: white;
  }



/*
p{
    color: #fff;
    font-size: 10px;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
    font-weight: 300;
}

#links{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  
}

#contact {
   
    display: flex;
    flex-direction: row;
  
    
  }
*/
#bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}